body {
    font-family: 'Roboto', sans-serif;
    height: 100vh; /* Make the body take the full viewport height */
    margin: 0; /* Remove default margin */
    display: flex; /* Use flexbox */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    flex-direction: column; /* Stack children vertically */
}

/* Ensure the image doesn't exceed the viewport width */
img {
    max-width: 100%;
    height: auto;
}


/* The container for the type buttons. This will help align them in a grid */
div.type-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr); /* Creates 4 equally spaced columns */
    gap: 10px; /* Space between grid items */
    margin: 20px auto; /* Center the grid */
}

button.type-button:hover {
    background-color: #ddd;
}

.type-button.active {
    background-color: #3498db;
    color: white;
}

.type-btn {
    display: inline-block;
}

.type-btn input[type="checkbox"] {
    display: none;
}

.type-btn img {
    display: block;
    border-radius: 8px;
    width: 135px;
    height: 53px;
}

.type-btn input[type="checkbox"]:checked + img {
    box-shadow: 0 0 0 3px #000;
}